# Put your django secret key below
DJANGO_SECRET_KEY=
# Any random salt but not equal to django secret
DJANGO_HASHID_FIELD_SALT=
CELERY_BROKER_URL=""
# Your firebase project id, for example "apexample
FIREBASE_PROJECT_ID=
# Your test faceboook app, create one
SOCIAL_AUTH_FACEBOOK_APP_KEY=
SOCIAL_AUTH_FACEBOOK_APP_SECRET=
SOCIAL_AUTH_FACEBOOK_APP_NAMESPACE=
LOGGING_APP_NAME="demo-django"
DJANGO_LOG_LEVEL="INFO"